*{
    margin: 0;
    padding: 0;

}
:root{
    --seccolor:rgb(125, 125, 220);
    --color:rgb(76, 76, 163);
}
body{
    background-color: var(--color);
    
}
header{
    width: 100%;
    height: 29px;
    border: 2px solid black;
}
.nav{
    border:1px solid black;
    width: 50vh;
    border-radius: 19px;
    background-color: var(--seccolor);
    
    
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    font-size: 25px;
    
    
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.box1{
    height: 75vh;
    display: inline-block;
    width: 48%;
    background-color: var(--seccolor);
    margin-right: 5px;
    
}
.box2{
    width: 48%;
    height: 75vh;
    display: inline-block;
    background-color: var(--seccolor);
    margin-left: 5px;
    

}

.main-card{
    border: 2px solid black;
    margin: 0px 20px;
    padding: 50px 25px;
}
article{
    border: 2px solid black;
    margin: 15px 5px;
    padding: 10px;
    border-radius: 40px;
    font-size: 56px;
}
.text{
    text-align: center;
    
}
footer{
    height: 67px;
    width: 100%;
    border: 2px solid black;
    
}
.fix-dot{
    height: 40px;
    width: 45px;
    position: fixed;
    background-color: aquamarine;
    
}