@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    

}

body{
    background-color: rgb(56, 56, 56);
}

.main-card{
    position: absolute;
    width: 280px;
    background-color: white;
    border-radius: 7px;
    height: 480px;
    left: 30%;
    padding: 15px;
}
.main-card img{
    border-radius: 7px;
}
.small-button {
   display: flex;
   gap: 19px;
   margin:15px 0px;
}
.small-button span{
    border: 1px solid grey;
    border-radius: 19px;
    padding: 7px;
    color: rgb(61, 61, 61);
    cursor: pointer;
}
.main-card h2 {
    margin:15px 0px;
}
.main-card p{
    color: rgb(61, 61, 61);
}

.button{
    margin-top: 15px;
    height: 35px;
    width: 90px;
    background-color: rgba(126, 175, 248, 0.642);
    color: blue;
    border: none;
    border-radius: 19px;
    padding: 7px;

    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

